<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find control_test)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find control_test)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find control_test)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find control_test)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find control_test)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find control_test)/param/dwa_local_planner_params.yaml" command="load" />
  </node>
</launch>
