<launch>

    <!--start multipoints_cruise-->
    <node pkg = "control_test" name = "Multipoints_Cruise" type = "Multipoionts_Cruise.py" output = "screen">
    </node>

    <!--start rviz-->
    <!-- <node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find control_test)/rviz_config/multipoints_curise.rviz" required = "true">
    </node> -->

</launch>