<!--
  Copyright: 2016-2020 https://www.corvin.cn ROS小课堂
  Description:使用串口来读取imu模块的数据,并在ros中发布使用话题发布出来.
  Author: corvin
  History:
    20200401: init this file.
-->
<launch>
  <arg name="rotation_param" default="$(find control_test)/cfg/param.yaml" />

  <node pkg="control_test" type="rotation_test" name="rotation_test" output="screen">
    <rosparam file="$(arg rotation_param)" command="load" />
  </node>
</launch>